{% extends "base.html" %}
{% load i18n comments %}

{% block header %}{{ block.super }}{% trans "Project List" %}{% endblock %}


{% block content %}
{% if object_list %}
{% for article in object_list %}
<div class="container">
<div class="row">
    <div class="col-md-1"></div>
  <div class="col-md-6">
    <div id="postlist">
      <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                              {% get_comment_count for article as comment_count %}
                                <h3 class="pull-left"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em>{{ article.publish|date:"d-F-Y" }}</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="panel-body">
                {{article.body|truncatechars:300}} 
                <a href="{{ article.get_absolute_url }}">Read more</a>
            </div>
            
            <div class="panel-footer">
                <span class="label label-default">{{ comment_count }} comment{{ comment_count|pluralize }}</span>
            </div>
        </div>
    </div>
  </div> 
</div>
</div>
        {% endfor %}
        {% endif %}
<div class="container">
<div class="row">
          <div class="col-md-6">
            <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Add New Project</a></div>
            </div>
            </div>
            </div>
</div>
  <div class="col-md-1"></div>
  <div class="col-md-3">
  </div>
  <div class="col-md-1">
  </div>



{% endblock %}