{% load i18n comments_xtd %}



<dl id="comments">

  {% for comment in comment_list %}
  <div style="margin-left:{{ comment.level }}00px">

<div class="container">
<div class="row">
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>Anonymous</strong> <span class="text-muted">{{comment.submit_date}}</span> <a class="pull-right" href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>
</div>

<div class="panel-body">
      <p>{{ comment.comment|render_markup_comment }}</p>
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
</div>
</div>
</div>
  {% endfor %}
</dl>